<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bright.examples.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <!-- Needed permissions in order to scan for beacons. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- Needed permissions in order to summit for beacons. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:label="BrightBeaconDemo"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.bright.examples.demos.AllDemosActivity"
            android:label="BrightBeaconDemo"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bright.examples.demos.ConfigDemoActivity"
            android:label="Select Beacon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.ListBeaconsActivity"
            android:label="Select Beacon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.DistanceBeaconActivity"
            android:label="Distance Demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.NotifyDemoActivity"
            android:label="Notify Demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.CharacteristicsDemoActivity"
            android:label="Characteristics Demo"
            android:screenOrientation="portrait" />
        <!-- Bright service responsible for scanning beacons. -->
        <service
            android:name="com.brtbeacon.sdk.service.BRTBeaconService"
            android:exported="false" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="BRTBEACON_APPKEY"
            android:value="e71e63ce42a40f3d43b3e47c64344076" />
    </application>

</manifest>