<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bright.examples.demos"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" />

    <!-- BrightBeacon-SDK需要的权限. -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 設置是否允许在沒有BLE的设备运行. -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <application
        android:icon="@drawable/beacon_gray"
        android:label="BrightBeacon-SDK示例"
        android:theme="@android:style/Theme.Holo.Light" >
        <activity
            android:name="com.bright.examples.demos.AllDemosActivity"
            android:label="BrightBeacon-SDK示例"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bright.examples.demos.ListBeaconsActivity"
            android:label="选择Beacon"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.DistanceBeaconActivity"
            android:label="距离感应 示例"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.NotifyDemoActivity"
            android:label="范围感应示例"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.bright.examples.demos.CharacteristicsDemoActivity"
            android:label="配置Beacon示例"
            android:screenOrientation="portrait" />
        <!-- BrightBeacon 扫描服务. -->
        <service
            android:name="com.brtbeacon.sdk.service.BRTBeaconService"
            android:exported="false" />
        <!-- </>值来自开发者平台取得的AppKey -->
        <meta-data
            android:name="BRTBEACON_APPKEY"
            android:value="e71e63ce42a40f3d43b3e47c64344075" />
    </application>

</manifest>